# Exploratory Data Analysis

## 1. Introduction
- **Objective:** Understand customer purchasing behavior and the impact of various factors on sales.
- **Dataset Overview:** Description of dataset features and target variable.

## 2. Data Loading and Setup
```python
import pandas as pd
# Load the dataset
df = pd.read_csv('path/to/dataset.csv')
# Display the first few rows
df.head()

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))
# Set max rows and columns to display
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [6]:
# Import load_data
from load_data import load_data, extract_zip
if __name__ == "__main__":
    # Define file paths and names
    zip_file_path = '../data.zip'
    extract_to_folder = '../data'
    csv_file_name = 'store.csv'  # Replace with the actual file name if different

    # Load the dataset
    try:
        df = load_data(zip_file_path, csv_file_name, extract_to_folder)
        print("Data successfully loaded.")
        display(df.head())
    except FileNotFoundError as e:
        print(e)

Data successfully loaded.

,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
Store,,,,,,,,,
1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN